
.header {
    font-family:"Noto Serif JP";
    position:sticky;
    width:100%;
    height:50px;
    top:0px;
    z-index: 1030;  
    paint-order:stroke fill;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 10px;
    -webkit-text-stroke-color: #c4f5ff;
    background: rgb(166,240,255);
    background: radial-gradient(circle, rgba(166,240,255,1) 0%, rgba(148,208,220,1) 100%);   
 
   

}
.titleContainer {
    width:160px; 
    height:50px;
}
.title {
    font-style: oblique;
    font-size: 30px;
    margin:0px;

    animation-duration: 3s;
    animation-name: grow-shrink;


}

.nav {
    width:48px;
    height:38px;
    position:absolute; 
    right:5px;
    top:5px
    
}
.navImage {
    width:48px;
    height:38px;


}


@keyframes grow-shrink {
    25%,
    75% {
      scale: 100%;
    }
  
    50% {
      scale: 200%;
      color: magenta;
    }
  }