
.display img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 0px;
    text-align: center;
}


.title {
    margin:0px;
    font-size: 30px;
}

.dimensions{
    margin:0px;
    font-size: 15px;
}
.price {
    margin:0px;
    font-size: 20px;
}
